{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://libimages.princeton.edu/loris2/pudl0001%2F4612422%2F00000001.jp2/info.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Link": [
            "<http://iiif.io/api/image/2/level2.json>;rel=\"profile\",<http://iiif.io/api/image/2/context.json>;rel=\"http://www.w3.org/ns/json-ld#context\";type=\"application/ld+json\""
          ],
          "Last-Modified": [
            "Wed, 26 Nov 2014 21:16:14 GMT"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"profile\": [\"http://iiif.io/api/image/2/level2.json\", {\"supports\": [\"canonicalLinkHeader\", \"profileLinkHeader\", \"mirroring\", \"rotationArbitrary\", \"sizeAboveFull\"], \"qualities\": [\"default\", \"bitonal\", \"gray\", \"color\"], \"formats\": [\"jpg\", \"png\", \"gif\", \"webp\"]}], \"tiles\": [{\"width\": 1024, \"scaleFactors\": [1, 2, 4, 8, 16, 32]}], \"protocol\": \"http://iiif.io/api/image\", \"sizes\": [{\"width\": 96, \"height\": 225}, {\"width\": 191, \"height\": 450}, {\"width\": 381, \"height\": 900}, {\"width\": 762, \"height\": 1800}, {\"width\": 1524, \"height\": 3600}, {\"width\": 3047, \"height\": 7200}], \"height\": 7200, \"width\": 3047, \"@context\": \"http://iiif.io/api/image/2/context.json\", \"@id\": \"http://libimages.princeton.edu/loris2/pudl0001%2F4612422%2F00000001.jp2\"}"
        },
      },
      "recorded_at": "Thu, 27 Nov 2014 01:00:58 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://libimages.princeton.edu/loris2/xxxx%2F4612422%2F00000001.jp2/info.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "NOT FOUND"
        },
        "headers": {
          "Link": [
            "<http://iiif.io/api/image/2/level2.json>;rel=\"profile\""
          ],
          "Content-Type": [
            "text/plain"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "Not Found: could not resolve identifier: xxxx%2F4612422%2F00000001.jp2  (404)"
        },
      },
      "recorded_at": "Thu, 27 Nov 2014 10:26:31 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
